
// Color palette
$main-color: #4a525c;
$highlight: darken(#7fa2ca, 20);
$secondary-highlight: #e02d0d;
$background: #edeae3;
$background-box: #fff;

$special-color: #b0b0b0;


// Media queries
$mq-smalltab: "screen and (min-width: 600px)";
