// Footer

.footer {
	margin: 50px 0;
	text-align: center;

	@media #{$mq-tablet} {
		margin: 50px auto;
		max-width: 900px;
	}
}

.footer-copyright {
	@include x-rem(font-size, .8);
	margin-bottom: 20px;
}

.footer-follow {
	margin: 2em 0;
}

.footer-scrolltop {
	@extend %box;

	text-decoration: none;

	@media #{$mq-smalltab} {
		@include x-rem(padding, .5);

		float: right;
		margin-top: -30px;
	}

	@media #{$mq-smalldesktop} {
		margin-right: 0;
	}
}
