/*
 * Styling for header
 */

.header {
}

// Logo
.header-logo {
	@include x-rem(font-size, 1);
	@include x-rem(margin, .5);

	line-height: 1;

	@media #{$mq-smalltab} {
		@include x-rem(margin, 1);
	}

	@media #{$mq-tablet} {
		@include x-rem(margin-top, 3);
		@include x-rem(margin-bottom, 3);
	}

	@media #{$mq-smalldesktop} {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	a {
		@extend %clearfix;
		display: inline-block;

		color: $secondary-highlight;
		text-decoration: none;

		&:visited {
			color: $secondary-highlight;
		}

		// Name of the site
		> span {
			@include x-rem(font-size, 1.3);

			float: left;
			padding: 5px 0;
			width: 110px;
			line-height: 1.4;

			@media #{$mq-smalltab} {
				@include x-rem(font-size, 1.5);
				width: 120px;
			}

			@media #{$mq-tablet} {
				@include x-rem(font-size, 2.7);
				width: 220px;
			}
		}
	}

	// Title-box
	strong {
		@extend %box;
		@include x-rem(font-size, 3.5);

		float: left;
		margin: 0 10px 0 0;
		padding-bottom: 0;

		@media #{$mq-smalltab} {
			@include x-rem(font-size, 4);
			@include x-rem(padding-top, 0.7);
		}

		@media #{$mq-tablet} {
			@include x-rem(font-size, 6.7);
			@include x-rem(padding, 1);
			@include x-rem(padding-top, 0.9);
			@include x-rem(margin-right, 1);

			padding-bottom: 0;
		}

		// Double slash
		span {
			@include x-rem(font-size, 2.8);

			position: relative;
			top: -7px;

			margin-right: 5px;
			//color: $special-color;

			@media #{$mq-smalltab} {
				@include x-rem(font-size, 3.2);
			}

			@media #{$mq-tablet} {
				@include x-rem(font-size, 5.7);

				top: -11px;
			}
		}
	}

	// Subtitle
	p {
		@include x-rem(font-size, .6);

		font-weight: 400;
		font-family: Merriweather, sans-serif;

		@media #{$mq-smalltab} {
			@include x-rem(font-size, .8);
		}

		@media #{$mq-tablet} {
			@include x-rem(font-size, 0.94);
			margin-top: 5px;
		}
	}
}
