// Module: Article
// mostly used to represent articles
.article {
	@extend %box;

	@media #{$mq-smalldesktop} {
		margin-left: 0;
		margin-right: 0;
	}
}

.article-header {
	h1 {
		line-height: 1.1;

		margin: 0 0 .5em;
	}
}


// Author
.article-header-author {
	margin: 2em 0;
	overflow: hidden;

	> img {
		float: left;
		margin-right: .5em;
		width: 64px;
		height: 64px;
	}

	> a {
		text-decoration: none;

		&:first-of-type {
			@include x-rem(font-size, 1.5);
		}
	}

	p {
		margin: 0;
	}
}

.article-header-date {
	float: right;
	margin-top: 0;

	> time:before {
		content: "Posted on ";
	}
}

// Categories
.article-header-categories {
	&:before {
		content: "Categories: ";
	}

	> a {
		text-decoration: none;

		&:after {
			content: ", ";
		}

		&:last-child:after {
			content: "";
		}
	}
}
