/*
 * Images
 */

%image {

	img {
		@include x-box-shadow(0 2px 5px rgba(0,0,0,.5));
		border: 1px solid $background;

		max-width: 100%;
	}

	> figcaption {
		font-style: italic;
		padding-bottom: 10px;
		border-bottom: 1px solid $background;
	}
}

.image-full {
	@extend %image;

	@include x-rem(margin-left, -0.75);
	@include x-rem(margin-right, -0.75);

	@media #{$mq-smalltab} {
		@include x-rem(margin-left, -1.5);
		@include x-rem(margin-right, -1.5);
	}

	@media #{$mq-tablet} {
		@include x-rem(margin-left, -2);
		@include x-rem(margin-right, -2);
	}

	@media #{$mq-smalldesktop} {
		@include x-rem(margin-left, -3);
		@include x-rem(margin-right, -3);
	}


	> figcaption {
		@include x-rem(margin, 0.75);

		@media #{$mq-smalltab} {
			@include x-rem(margin-left, 1.5);
			@include x-rem(margin-right, 1.5);
		}

		@media #{$mq-tablet} {
			@include x-rem(margin-left, 2);
			@include x-rem(margin-right, 2);
		}

		@media #{$mq-smalldesktop} {
			@include x-rem(margin-left, 3);
			@include x-rem(margin-right, 3);
		}
	}
}

.image-leftish {
	@extend .image-full;

	@media #{$mq-tablet} {
		float: left;
		max-width: 60%;
		margin-right: 20px;
	}
}

.image-leftish-small {
	@extend .image-leftish;

	@media #{$mq-tablet} {
		max-width: 40%;
	}

}

.image-rightish {
	@extend .image-full;

	@media #{$mq-tablet} {
		float: right;
		max-width: 60%;
		margin-left: 20px;
	}
}

.image-rightish-small {
	@extend .image-rightish;

	@media #{$mq-tablet} {
		max-width: 40%;
	}
}

