.search {
	margin: 10px 60px 10px 10px;

	@media #{$mq-smalltab} {
		margin: 20px 60px 20px 20px;
	}

	@media #{$mq-tablet} {
		float: right;
		margin: 10px 1em;
	}
}

.search-field {
	width: 180px;
}

input.search-submit {
	@include x-border-radius(3px);

	width: 32px;
	height: 32px;

	background-image: url(../img/search.png);
	background-size: cover;

	text-indent: -100px;
	overflow: hidden;
}
